html,
body {
  height: 100%;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

body {
  padding-top: 0;
}

input {
  font-size: 20px;
  border: 2px solid #efefef;
  width: 400px;
}

nav, .navbar-inverse, .navbar-brand {
  background: #2c3e50;
  color: white;
}
.navbar-inverse .navbar-brand {
  color: white;
}

.jumbotron {
  padding-top: 60px;
  text-align: center;
  background-color: #18bc9c;
  color: white;
  margin-bottom: -20px;
}

.main-content {
  padding: 10px 0 20px 0;
  margin-top: 50px;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 13px;
}

.item {
  background-color: #efefef;
  border: 1px solid #e1e1e1;
  margin: 5px;
  height: 50px;
}
